In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('DF GroupBy').getOrCreate()

In [2]:
df = spark.read.options(header = 'True', inferSchema = 'True').csv('../data/OfficeData.csv')
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [3]:
df.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [4]:
df.groupBy('department').sum().show()

+----------+-----------+--------+----------+
|department|sum(salary)|sum(age)|sum(bonus)|
+----------+-----------+--------+----------+
|     Sales|     257000|     120|     53000|
|   Finance|     351000|     153|     81000|
| Marketing|     171000|      75|     39000|
+----------+-----------+--------+----------+

In [5]:
df.groupBy('department').sum('salary').show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [6]:
from pyspark.sql.functions import sum, avg, max, min, mean, count

In [7]:
df.groupBy('department').agg(sum('salary')).show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [8]:
df.groupBy('department').agg(sum('salary'), min('salary')).show()

+----------+-----------+-----------+
|department|sum(salary)|min(salary)|
+----------+-----------+-----------+
|     Sales|     257000|      81000|
|   Finance|     351000|      79000|
| Marketing|     171000|      80000|
+----------+-----------+-----------+