In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('DF GroupBy').getOrCreate()

In [2]:
df = spark.read.options(header = 'True', inferSchema = 'True').csv('../data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [3]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [4]:
df.groupBy('course', 'gender').count().show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
|    DB|Female|   75|
|   OOP|Female|   82|
+------+------+-----+

In [5]:
from pyspark.sql.functions import sum, avg, max, min, mean, count

In [6]:
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [7]:
df.groupBy("course").agg(count('*')).show()

+------+--------+
|course|count(1)|
+------+--------+
|    PF|     166|
|    DB|     157|
|   MVC|     157|
|   DSA|     176|
| Cloud|     192|
|   OOP|     152|
+------+--------+

In [8]:
df.groupBy("course").agg(count('*'), sum('marks')).show()

+------+--------+----------+
|course|count(1)|sum(marks)|
+------+--------+----------+
|    PF|     166|      9933|
|    DB|     157|      9270|
|   MVC|     157|      9585|
|   DSA|     176|     10950|
| Cloud|     192|     11443|
|   OOP|     152|      8916|
+------+--------+----------+

In [10]:
df.groupBy("course").agg(count('*'), sum('marks'), min('marks'), max('marks'), avg('marks')).show()

+------+--------+----------+----------+----------+------------------+
|course|count(1)|sum(marks)|min(marks)|max(marks)|        avg(marks)|
+------+--------+----------+----------+----------+------------------+
|    PF|     166|      9933|        20|        99| 59.83734939759036|
|    DB|     157|      9270|        20|        98|59.044585987261144|
|   MVC|     157|      9585|        22|        99| 61.05095541401274|
|   DSA|     176|     10950|        20|        99| 62.21590909090909|
| Cloud|     192|     11443|        20|        99|59.598958333333336|
|   OOP|     152|      8916|        20|        99|  58.6578947368421|
+------+--------+----------+----------+----------+------------------+

In [12]:
df.groupBy("course").agg(count('*').alias("total_enrollments"), sum('marks').alias('total_marks'), 
min('marks').alias('min_marks'), max('marks').alias('max_marks'), avg('marks').alias('avg_marks')).show()

+------+-----------------+-----------+---------+---------+------------------+
|course|total_enrollments|total_marks|min_marks|max_marks|         avg_marks|
+------+-----------------+-----------+---------+---------+------------------+
|    PF|              166|       9933|       20|       99| 59.83734939759036|
|    DB|              157|       9270|       20|       98|59.044585987261144|
|   MVC|              157|       9585|       22|       99| 61.05095541401274|
|   DSA|              176|      10950|       20|       99| 62.21590909090909|
| Cloud|              192|      11443|       20|       99|59.598958333333336|
|   OOP|              152|       8916|       20|       99|  58.6578947368421|
+------+-----------------+-----------+---------+---------+------------------+