In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('DF GroupBy').getOrCreate()

In [5]:
df = spark.read.options(header = 'True', inferSchema = 'True').csv('../data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import sum, avg, max, min, mean, count

In [8]:
df2 = df.filter(df.gender == 'Male')
df2.groupBy("gender").agg(count('*')).show()

+------+--------+
|gender|count(1)|
+------+--------+
|  Male|     499|
+------+--------+

In [9]:
df2 = df.filter(df.gender == 'Male')
df2.groupBy("course").agg(count('*')).show()

+------+--------+
|course|count(1)|
+------+--------+
|    PF|      97|
|    DB|      82|
|   MVC|      86|
|   DSA|      78|
| Cloud|      86|
|   OOP|      70|
+------+--------+

In [11]:
df2 = df
df2.groupBy("course", "gender").agg(count('*')).show()

+------+------+--------+
|course|gender|count(1)|
+------+------+--------+
|   OOP|  Male|      70|
|    DB|  Male|      82|
| Cloud|Female|     106|
|   MVC|  Male|      86|
|   DSA|Female|      98|
|    PF|  Male|      97|
|   MVC|Female|      71|
| Cloud|  Male|      86|
|    PF|Female|      69|
|   DSA|  Male|      78|
|    DB|Female|      75|
|   OOP|Female|      82|
+------+------+--------+

In [10]:
df2 = df.filter(df.gender == 'Male')
df3 = df2.groupBy("course", "gender").agg(count('*'))
df3.show()

+------+------+--------+
|course|gender|count(1)|
+------+------+--------+
|   OOP|  Male|      70|
|    DB|  Male|      82|
|   MVC|  Male|      86|
|    PF|  Male|      97|
| Cloud|  Male|      86|
|   DSA|  Male|      78|
+------+------+--------+

In [12]:
df2 = df.filter(df.gender == 'Male')
df3 = df2.groupBy("course", "gender").agg(count('*').alias('total_enrollments'))
df3.show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   OOP|  Male|               70|
|    DB|  Male|               82|
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
|   DSA|  Male|               78|
+------+------+-----------------+

In [15]:
df3.where(df3.total_enrollments > 85).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
+------+------+-----------------+

In [17]:
df.filter(df.gender == 'Male').groupBy("course", "gender").agg(count('*').alias('total_enrollments')).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   OOP|  Male|               70|
|    DB|  Male|               82|
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
|   DSA|  Male|               78|
+------+------+-----------------+

In [18]:
df.filter(df.gender == 'Male').groupBy("course", "gender").agg(count('*').alias('total_enrollments')).filter(df3.total_enrollments > 85).show()

AnalysisException: [MISSING_ATTRIBUTES.RESOLVED_ATTRIBUTE_APPEAR_IN_OPERATION] Resolved attribute(s) "total_enrollments" missing from "course", "gender", "total_enrollments" in operator !Filter (total_enrollments#265L > cast(85 as bigint)). Attribute(s) with the same name appear in the operation: "total_enrollments".
Please check if the right attribute(s) are used.;
!Filter (total_enrollments#265L > cast(85 as bigint))
+- Aggregate [course#81, gender#79], [course#81, gender#79, count(1) AS total_enrollments#386L]
   +- Filter (gender#79 = Male)
      +- Relation [age#78,gender#79,name#80,course#81,roll#82,marks#83,email#84] csv

In [19]:
df.filter(df.gender == 'Male').groupBy("course", "gender").agg(count('*').alias('total_enrollments')).show()#filter(df3.total_enrollments > 85).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   OOP|  Male|               70|
|    DB|  Male|               82|
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
|   DSA|  Male|               78|
+------+------+-----------------+

In [20]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [21]:
df.filter(df.gender == 'Male').groupBy("course", "gender").agg(count('*').alias('total_enrollments')).filter(col('total_enrollments') > 85).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
+------+------+-----------------+

### Quiz

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName('DF GroupBy').getOrCreate()

In [23]:
df = spark.read.options(header = 'True', inferSchema = 'True').csv('../data/StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [28]:
df.groupBy(df.course).count().show()
df.groupby('course').agg(count('*').alias('total_enrollment')).show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+----------------+
|course|total_enrollment|
+------+----------------+
|    PF|             166|
|    DB|             157|
|   MVC|             157|
|   DSA|             176|
| Cloud|             192|
|   OOP|             152|
+------+----------------+

In [29]:
df.groupby('course', 'gender').agg(count('*').alias('total_enrollment')).show()

+------+------+----------------+
|course|gender|total_enrollment|
+------+------+----------------+
|   OOP|  Male|              70|
|    DB|  Male|              82|
| Cloud|Female|             106|
|   MVC|  Male|              86|
|   DSA|Female|              98|
|    PF|  Male|              97|
|   MVC|Female|              71|
| Cloud|  Male|              86|
|    PF|Female|              69|
|   DSA|  Male|              78|
|    DB|Female|              75|
|   OOP|Female|              82|
+------+------+----------------+

In [31]:
df.groupby('course', 'gender').agg(sum('marks').alias('total_marks')).show()

+------+------+-----------+
|course|gender|total_marks|
+------+------+-----------+
|   OOP|  Male|       4234|
|    DB|  Male|       5073|
| Cloud|Female|       6316|
|   MVC|  Male|       5241|
|   DSA|Female|       6124|
|    PF|  Male|       5960|
|   MVC|Female|       4344|
| Cloud|  Male|       5127|
|    PF|Female|       3973|
|   DSA|  Male|       4826|
|    DB|Female|       4197|
|   OOP|Female|       4682|
+------+------+-----------+

In [32]:
df.groupby('course', 'gender').agg(min('marks').alias('minumim_marks'), max('marks').alias('maximum_marks'), avg('marks').alias('average_marks')).show()

+------+------+-------------+-------------+------------------+
|course|gender|minumim_marks|maximum_marks|     average_marks|
+------+------+-------------+-------------+------------------+
|   OOP|  Male|           20|           99| 60.48571428571429|
|    DB|  Male|           20|           98| 61.86585365853659|
| Cloud|Female|           20|           99| 59.58490566037736|
|   MVC|  Male|           22|           99| 60.94186046511628|
|   DSA|Female|           20|           99| 62.48979591836735|
|    PF|  Male|           20|           99| 61.44329896907217|
|   MVC|Female|           22|           99|61.183098591549296|
| Cloud|  Male|           21|           97|59.616279069767444|
|    PF|Female|           20|           99| 57.57971014492754|
|   DSA|  Male|           20|           99| 61.87179487179487|
|    DB|Female|           20|           96|             55.96|
|   OOP|Female|           21|           99| 57.09756097560975|
+------+------+-------------+-------------+------------------+

In [36]:
df = spark.read.options(herader = 'False', inferSchema = 'False').text('../data/WordData.txt')
df.show()

+------+
| value|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Chair|
| Chair|
| Chair|
|   Bag|
|Mobile|
|  Book|
| Chair|
| Chair|
| Chair|
|   Bag|
+------+
only showing top 20 rows

In [37]:
df.groupBy('Value').count().show()

+------+-----+
| Value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+